<!DOCTYPE html>
<html>
    <head>
        <title>Accueil</title>
    </head>
    <body>
        <h1>Bienvenue à l'Accueil</h1>
        <a href="http://localhost:8000/contact">Nous contacter</a>
        <br>
        <a href="http://localhost:8000/lucky/number">Prendre un ticket !</a>
    </body>
</html>